<c-row ngPreserveWhitespaces>
    <c-col xs="12">
    <h1>La Kantuta 3 </h1>
    <c-card class="mb-4">
        <c-card-header>
          <strong>Formulario de Estudiante</strong>
        </c-card-header>
        <c-card-body>
            <form cForm>
              <div class="mb-3">
                <label cLabel for="Apellido Paterno">Apellido paterno</label>
                <input cFormControl
                       id="Apellido Paterno"
                       placeholder="Apellido Paterno"
                       [(ngModel)] = "estudiantemodelo._apPAT"
                       type="text"
                />
              </div>
              <div class="mb-3">
                <label cLabel for="Apellido Materno">Apellido materno</label>
                <input cFormControl
                       id="Apellido Materno"
                       placeholder="Apellido Materno"
                       [(ngModel)] = "estudiantemodelo._apMAT"
                       type="text"
                />
              </div>
              <div class="mb-3">
                <label cLabel for="Nombre 1">Primer Nombre </label>
                <input cFormControl
                       id="Nombre 1"
                       placeholder="Nombre 1"
                       [(ngModel)] = "estudiantemodelo._nom1"
                       type="text"
                />
              </div>
              <div class="mb-3">
                <label cLabel for="Nombre 2">Segundo Nombre </label>
                <input cFormControl
                       id="Nombre 2"
                       placeholder="Nombre 2"
                       [(ngModel)] = "estudiantemodelo._nom2"
                       type="text"
                />
              </div>
            <div class="mb-3">
              <label cLabel for="Curso">Curso </label>
              <input cFormControl
                     id="Curso"
                     placeholder="Curso"
                     [(ngModel)] = "estudiantemodelo._curso"
                     type="text"
              />
            </div>
              <div class="mb-3">
                <label cLabel for="Lug nacimiento">Lugar de nacimiento </label>
                <input cFormControl
                       id="Lug nacimiento"
                       placeholder="Lug nacimiento"
                       [(ngModel)] = "estudiantemodelo.lugnac"
                       type="text"
                />
              </div>
              <div class="mb-3">
                <label cLabel for="Edad"> Edad </label>
                <input cFormControl
                       id="Edad"
                       placeholder="Edad"
                       [(ngModel)] = "estudiantemodelo._edad"
                       type="number"
                />
              </div>
              <div class="mb-3">
                <label cLabel for="usuario"> Usuario </label>
                <select aria-label="Seleccione usuario" cSelect class="mb-3" sizing="lg">
                    <option>selecciona usuario</option>
                    <option value="1">Btito</option>
                    <option value="2">Pablo</option>
                </select>
              </div>
              <button cButton class="me-1" color="primary" type="submit">
                Guardar
              </button>
            </form>
        </c-card-body>
      </c-card>  
    </c-col>
    <c-col xs="12">
        <table cTable>
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Apellido paterno</th>
              <th scope="col">Nombre</th>
              <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
              @for (estud of listaEstudiantes; track estud; ){
                <tr>
                  <th scope="row">1</th>
                  <td>{{estud._apMAT}}</td>
                  <td>{{estud._nom1}}</td>
                  <td><button cButton color="warning" variant="outline">Editar</button> 
                      <button cButton color="danger" variant="outline">Eliminar</button></td>
                </tr>
              }
            </tbody>
          </table>     
    </c-col>
</c-row>