<c-row ngPreserveWhitespaces>
    <c-col xs="12">
    <h1>Unidad educativa </h1>
    <c-card class="mb-4">
        <c-card-header>
          <strong>Formulario de Estudiante</strong>
        </c-card-header>
        <c-card-body>
            <form cForm (ngSubmit)= "guardarestudiante">
              <div class="mb-3">
                <label cLabel for="_apPAT">Apellido paterno</label>
                <input cFormControl
                       id="_apPAT"
                       placeholder="Ingrese Apellido Paterno"
                       [(ngModel)] = "estudiantemodelo._apPAT" 
                       type="text"
                       name = "Apellido Paterno"
                />
              </div>
              <div class="mb-3">
                <label cLabel for="_apMAT">Apellido materno</label>
                <input cFormControl
                       id="_apMAT"
                       placeholder=" Ingrese Apellido Materno"
                       [(ngModel)] = "estudiantemodelo._apMAT"
                       type="text"
                       name = "Apellido Materno"
                />
              </div>
              <div class="mb-3">
                <label cLabel for="_nom1">Primer Nombre </label>
                <input cFormControl
                       id="_nom1"
                       placeholder="Ingrese el prmer nombre"
                       type="text"
                       [(ngModel)] = "estudiantemodelo._nom1"
                       name = "Nombre 1"
                />
              </div>
              <div class="mb-3">
                <label cLabel for="_nom2">Segundo Nombre </label>
                <input cFormControl
                       id="_nom2"
                       placeholder="Ingrese el segundo Nombre"
                       type="text"
                       [(ngModel)] = "estudiantemodelo._nom2"
                       name = "Nombre 2"
                />
              </div>
            <div class="mb-3">
              <label cLabel for="_curso">Curso </label>
              <input cFormControl
                     id="_curso"
                     placeholder="Ingrese el Curso"
                     type="text"
                     [(ngModel)] = "estudiantemodelo._curso"
                     name = "Curso"
              />
            </div>
              <div class="mb-3">
                <label cLabel for="Lugar nacimiento">Lugar de nacimiento </label>
                <input cFormControl
                       id="Lugar nacimiento"
                       placeholder="Lugar de nacimiento"
                       type="text"
                       [(ngModel)] = "estudiantemodelo.lugnac"
                       name = "Lugar nacimiento"
                />
              </div>
              <div class="mb-3">
                <label cLabel for="_edad"> Edad </label>
                <input cFormControl
                       id="_edad"
                       placeholder="Edad del estudiante"
                       type="number"
                       [(ngModel)] = "estudiantemodelo._edad"
                       name = "Edad"
                />
              </div>
              <div class="mb-3">
                <label cLabel for="Usuario"> Usuario </label>
                <input cFormControl
                       id="Usuario"
                       placeholder="ingrese un codigo de Usuario"
                       type="text"
                       [(ngModel)] = "estudiantemodelo.usuario"
                       name = "Usuario"
                />
              </div>
              <button cButton class ="me-1" color ="primary" type ="submit">
                Guardar
              </button>
            </form>
        </c-card-body>
      </c-card>  
    </c-col>
    <c-col xs="12">
        <table cTable>
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Apellido paterno</th>
              <th scope="col">Apellido materno</th>
              <th scope="col">Nombre</th>
              <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
              @for (estudiante of listaEstudiantes; track estudiante;){
                <tr>
                  <th scope="row">1</th>
                  <td>{{estudiante._apPAT}}</td>
                  <td>{{estudiante._apMAT}}</td>
                  <td>{{estudiante._nom1}}</td>
                  <td>
                      <button cButton color="warning" variant="outline" (click) = "verestudiante">Editar</button> 
                      <button cButton color="danger" variant="outline" (click) = "eliminaestudiante">Eliminar</button></td>
                </tr>
              }
            </tbody>
          </table>     
    </c-col>
</c-row>