<c-row ngPreserveWhitespaces>
    <c-col xs="12">
    <h1>La Kantuta 3 </h1>
    <c-card class="mb-4">
        <c-card-header>
          <strong>Formulario de Estudiante</strong>
        </c-card-header>
        <c-card-body>
            <form cForm>
              <div class="mb-3">
                <label cLabel for="Apellido Paterno">Apellido paterno</label>
                <input cFormControl
                       id="Apellido Paterno"
                       placeholder="Apellido Paterno"
                       type="text"
                />
              </div>
              <div class="mb-3">
                <label cLabel for="Apellido Materno">Apellido materno</label>
                <input cFormControl
                       id="Apellido Materno"
                       placeholder="Apellido Materno"
                       type="text"
                />
              </div>
              <div class="mb-3">
                <label cLabel for="Nombre 1">Primer Nombre </label>
                <input cFormControl
                       id="Nombre 1"
                       placeholder="Nombre 1"
                       type="text"
                />
              </div>
              <div class="mb-3">
                <label cLabel for="Nombre 2">Segundo Nombre </label>
                <input cFormControl
                       id="Nombre 2"
                       placeholder="Nombre 2"
                       type="text"
                />
              </div>
              <div class="mb-3">
                <label cLabel for="Curso"> Curso </label>
                <select aria-label="Seleccione Curso" cSelect class="mb-3" sizing="lg">
                    <option>selecciona curso</option>
                    <option value="1">Primero A</option>
                    <option value="2">Primero B</option>
                    <option value="3">Primero C</option>
                    <option value="4">Segundo A</option>
                    <option value="5">Segundo B</option>
                    <option value="6">Segundo C</option>
                    <option value="7">Tercero A</option>
                    <option value="8">Tercero B</option>
                    <option value="9">Tercero C</option>
                    <option value="10">Cuarto A</option>
                    <option value="11">Cuarto B</option>
                    <option value="12">Cuarto C</option>
                    <option value="13">Quinto A</option>
                    <option value="14">Quinto B</option>
                    <option value="15">Quinto C</option>
                    <option value="16">Sexto A</option>
                    <option value="17">Sexto B</option>
                    <option value="18">Sexto C</option>
                </select>
              </div>
              <div class="mb-3">
                <label cLabel for="Lug nacimiento">Lugar de nacimiento </label>
                <input cFormControl
                       id="Lug nacimiento"
                       placeholder="Lug nacimiento"
                       type="text"
                />
              </div>
              <div class="mb-3">
                <label cLabel for="Edad"> Edad </label>
                <input cFormControl
                       id="Edad"
                       placeholder="Edad"
                       type="number"
                />
              </div>
              <div class="mb-3">
                <label cLabel for="usuario"> Usuario </label>
                <select aria-label="Seleccione usuario" cSelect class="mb-3" sizing="lg">
                    <option>selecciona usuario</option>
                    <option value="1">Btito</option>
                    <option value="2">Pablo</option>
                </select>
              </div>
              <button cButton class="me-1" color="primary" type="submit">
                Guardar
              </button>
            </form>
        </c-card-body>
      </c-card>  
    </c-col>
    <c-col xs="12">
        <table cTable>
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Usuario</th>
              <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td><button cButton color="warning" variant="outline">Editar</button> 
                  <button cButton color="danger" variant="outline">Eliminar</button></td>
            </tr>
            </tbody>
          </table>     
    </c-col>
</c-row>